<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bundle.js"></script>
</head>

<body>
<div class="container" ng-controller="SearchCtrl as vm">
    <div class="row">
        <label class="checkbox-inline"><input ng-model="vm.type" type="radio" value=""> Both</label>
        <label class="checkbox-inline"><input ng-model="vm.type" type="radio" value="D"> Dir</label>
        <label class="checkbox-inline"><input ng-model="vm.type" type="radio" value="F"> File</label>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text"
                       ng-keyup="$event.keyCode === 13 && vm.search()"
                       ng-model="vm.query"
                       class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            ng-click="vm.search()"
                            type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="vm.message">{{ vm.message }}</div>
        <div id="tree"></div>
    </div>

</div>
</body>
</html>
